{% extends "base.html" %}
{% block content %}
    <h1 class="mb-4">Müşteri Yönetimi</h1>
    <div class="card">
        <div class="card-body">
             {% if users %}
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead>
                        <tr>
                            <th>ID</th><th>Kullanıcı Adı</th><th>E-posta</th><th>Toplam Sipariş</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.orders|length }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-center">Henüz kayıtlı bir müşteri bulunmuyor.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}